################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/C#/.vs/ChronEx/v15/Server/sqlite3
