################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/C#/.vs/ChronEx/v15/Server/sqlite3
/.vs/VSWorkspaceState.json
/C#/.vs/ChronEx/v15/sqlite3/db.lock
/C#/.vs/ChronEx/v15/sqlite3/storage.ide-shm
/C#/.vs/ChronEx/v15/sqlite3/storage.ide-wal
